.popup__button-save_disabled{
    background-color: white;
    border: 1px solid black;
    color: black;
    opacity: .2;
  }
  
  .popup__button-save_disabled:hover {
    opacity: .2;
    cursor: auto;
  }
