.profile__edit-button {
  border: 1px solid white;
  background: url(../../../images/Vector.png);
  padding: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7.5px;
  margin-bottom: 10px;
  cursor: pointer;
}
.profile__edit-button:hover{
  opacity: 0.6;
  transition: 0.5s;
}


@media (min-width: 880px) {
  .profile__edit-button {
    background-size: 10px 10px;
    padding: 11px;
  }
}