.popup__input{
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 10px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 1);
  box-sizing: border-box;
}


.popup__input:focus {
  outline: none;
}
