.profile__add-button{
  display: block;
  order: 2;
  max-width: 282px;
  width: 100%;
  height: 50px;
  border: 2px solid white;
  border-radius: 2px;
  background: url(../../../images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  cursor: pointer;
}

.profile__add-button:hover{
  opacity: 0.6;
  transition: 0.5s;
}


@media (min-width: 880px) {
  .profile__add-button {
    background-size: 22px 22px;
    max-width: 150px;
  }
}