.profile__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 6px;
}

@media (min-width: 880px) {
  .profile__container {
    gap: 18px;
    justify-content: start;
  }
}