.footer__copyright{
  max-width: 880px;
  color: #545454;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 0 19px 36px;
  margin: 0 auto;
}


@media (min-width: 880px) {
  .footer__copyright {
    padding: 0 0 60px;
    font-size: 18px;
    line-height: 22px;
  }
}