.profile__info{
  width: 100%;
  margin-bottom: 36px;
  order: 1;
  max-width: 550px;
}

@media (min-width: 880px) {
  .profile__info {
    margin-bottom: 0;
    margin-left: 10px;
  margin-right: 10px;
  }
}