.places__button-like{
  background-image: url(../../../images/like.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
  cursor: pointer;
  flex-shrink: 0;
}
.places__button-like:hover{
  opacity: 50%;
  transition: 0.5s;
}